<?xml version="1.0"?>
<model>
  <name>x500_helios</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Parth</name>
  </author>
  <description>
    PX4 x500 quadrotor extended with 3D LiDAR (OS1-32),
    stereo camera setup (RGBD (left), and RGB (right)) for the Helios autonomy stack.
  </description>
</model>